/* * {
    padding:0;
    margin:0;
    border:0;
} */
.click-button {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: none;
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.click-button img:hover {
    box-shadow: 4px 4px 10px;
    border-radius: 1000px;
}